/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: "Poppins", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    color: #333;
}

/* Boxes */
#numbers, #letters {
    background: white;
    width: 350px;
    padding: 25px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    text-align: center;
}

/* Numbers Inputs */
#numbers input {
    width: 55px;
    height: 55px;
    margin: 6px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: .2s;
}

#numbers input:focus {
    border-color: #4a90e2;
}

/* Buttons */
button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 12px 18px;
    margin-top: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #3577c6;
}

/* Word game */
#word {
    font-size: 32px;
    letter-spacing: 10px;
    margin: 20px 0;
    font-weight: bold;
}

#message {
    margin-top: 10px;
    font-size: 18px;
    color: #4a90e2;
    font-weight: 500;
}